body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.conteneur {
  max-width: 80%;
  margin: auto;
}

.vueVoiture {
  flex: 1;
  max-width: 50%;
  padding: 20px;
}

.menuConfiguration {
  flex: 1;
  max-width: 30%;
  padding: 20px;
}

.vueVoiture img {
  max-width: 200%;
  height: auto;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

button+button {
  margin-left: 10px;
}

label,
select {
  display: block;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  cursor: pointer;
}

span {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 5px;
}

.selectionnee {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
}

.listeJantes li {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  margin-bottom: 10px;
}

.listeJantes input[type="radio"] {
  position: relative;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #000;
  cursor: pointer;
  margin-right: 10px;
}

.listeJantes input[type="radio"]:checked::before {
  content: '';
  /* Contenu vide pour le pseudo-élément */
  position: absolute;
  width: 12px;
  /* Largeur du coche */
  height: 12px;
  /* Hauteur du coche */
  background-color: red;
  /* Couleur du coche */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centrer le coche dans la case */
}

/* Style pour le conteneur principal */
.conteneurPrincipal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteneurVoiture {
  flex: 1;
}

footer {
  padding: 10px;
  background-color: #f1f1f1;
  text-align: center;
}

.generateurFacture {
  text-align: center;
}

.conteneurInterne {
  display: flex;
  justify-content: space-around;
}

.boutonFacture {
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(45deg, rgb(33, 32, 32) 25%, transparent 25%, transparent 75%, rgb(33, 32, 32) 75%, rgb(33, 32, 32)), linear-gradient(45deg, rgb(33, 32, 32) 25%, transparent 25%, transparent 75%, rgb(33, 32, 32) 75%, rgb(33, 32, 32)), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.15s;
  font-size: 20px;
}

.boutonFacture:hover {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.boutonFacture:active {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(1px);
}

.imageContainer {
  position: relative;
}

.listeBouton {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  padding-left: 250px;
}

.boutonNavigation {
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(45deg, rgb(33, 32, 32) 25%, transparent 25%, transparent 75%, rgb(33, 32, 32) 75%, rgb(33, 32, 32)), linear-gradient(45deg, rgb(33, 32, 32) 25%, transparent 25%, transparent 75%, rgb(33, 32, 32) 75%, rgb(33, 32, 32)), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px;
  color: #fff; /* Texte blanc */
  border: none;
  padding: 10px 20px; /* Padding plus grand pour un aspect plus moderne */
  cursor: pointer;
  border-radius: 5px; /* Coins arrondis */
  transition: background-color 0.3s, transform 0.3s; /* Transition pour le survol et l'activation */
}

.boutonNavigation:hover {
  background-color: #555; /* Couleur de fond un peu plus claire au survol */
  transform: translateY(-2px); /* Déplacement vers le haut au survol */
}

.boutonNavigation:active {
  transform: translateY(0); /* Retour à la position initiale lors du clic */
}

/* ... (Votre CSS existant) ... */

/* Styles pour tablettes */
@media (min-width: 600px) and (max-width: 900px) {
  .conteneur {
    max-width: 90%;
  }

  .vueVoiture,
  .menuConfiguration {
    max-width: 100%;
    padding: 10px;
  }

  .vueVoiture img {
    max-width: 100%;
  }

  .listeBouton {
    padding-left: 0;
    gap: 5px;
  }

  .boutonNavigation,
  .boutonFacture {
    padding: 8px 16px;
    font-size: 18px;
  }

  span {
    width: 30px;
    height: 30px;
  }

  .boutonFacture {
    margin-bottom: 20px;
  }
}

/* Styles pour téléphones mobiles */
@media (max-width: 599px) {
  .conteneur {
    max-width: 100%;
    padding: 0 10px;
  }

  h2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .vueVoiture,
  .menuConfiguration {
    max-width: 100%;
    padding: 10px;
  }

  .vueVoiture img {
    max-width: 100%;
  }

  .listeBouton {
    padding-left: 0;
    gap: 5px;
    flex-direction: row;
  }

  .boutonNavigation {
    padding: 5px; /* Réduisez la valeur de padding pour réduire la taille */
    font-size: 10px; /* Réduisez la taille de la police */
    margin: 0;
    width: 60px;
  }

  .boutonFacture {
    padding: 6px 12px;
    font-size: 14px;
  }

  span {
    width: 30px;
    height: 30px;
  }

  .menuConfiguration,
  ul, li {
    font-size: 11px;
  }

  .listeJantes input[type="radio"] {
    width: 15px;
    height: 15px;
    bottom: 2px;
  }

  .listeJantes input[type="radio"]:checked::before {
    width: 10px;
    height: 10px;
  }

  footer {
    font-size: 10px;
  }
}

@media (max-width: 400px) {

  span {
    width: 20px;
    height: 20px;
  }

  .listeJantes input[type="radio"] {
    width: 12px !important;
    height: 12px !important;
    bottom: 2px;
  }

  .listeJantes input[type="radio"]:checked::before {
    width: 7px;
    height: 7px;
  }
}